In [13]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import os
import glob

In [15]:
path = '../dataset'
list_of_files = glob.glob(path + '/*.csv')
data = []
for filename in list_of_files:
    data.append(pd.read_csv(filename))
df = pd.concat(data, axis=0, ignore_index=True)

In [16]:
df.head()

,id,user_id,status,type,expiry,created_at,updated_at,reference_number,transaction_number,payment_at,account_id,total,title,self_href,product,fraud_status,blocked_at
0,161851566,10000313,SUCCESS,MITRA,2024-05-13 20:43:50.867 UTC,2024-05-13 20:39:13.166 UTC,2024-05-13 20:39:13.64 UTC,INV/TUC/MIT/240513/3811589A0OF,INV/PAY/MIT/240513/UGVYRJ352RV,2024-05-13 20:39:13.166 UTC,6752505.0,613500,MITRA,/mitra-service/me/transactions/23581631,mitra,False,2021-12-29 03:00:22 UTC
1,159629699,10000336,SUCCESS,MITRA,2024-05-03 10:33:34.86 UTC,2024-05-03 10:29:19.6 UTC,2024-05-03 10:29:19.972 UTC,INV/TUC/MIT/240503/28305262R63,INV/PAY/MIT/240503/6OGE25ZAJBW,2024-05-03 10:29:19.6 UTC,6752528.0,734000,MITRA,/mitra-service/me/transactions/23253457,mitra,False,2021-12-29 03:00:22 UTC
2,144706161,3674620,SUCCESS,BILL,2024-03-08 10:45:04.277 UTC,2024-03-06 10:45:04.417 UTC,2024-03-06 10:45:04.571 UTC,INV/BIL/ANG/240306/002H2F424YY,INV/PAY/BIL/240306/1R4CR60KQBG,2024-03-06 10:45:04.416 UTC,3101855.0,990000,FIF,/biller-service/transactions/35168831,installment,False,2022-02-14 23:16:38.981 UTC
3,141401317,10000336,SUCCESS,MITRA,2024-02-19 13:27:25.583 UTC,2024-02-19 13:22:33.449 UTC,2024-02-19 13:22:33.867 UTC,INV/TUC/MIT/240219/20409841O6D,INV/PAY/MIT/240219/29F5PP42DX7,2024-02-19 13:22:33.449 UTC,6752528.0,1470000,MITRA,/mitra-service/me/transactions/21110721,mitra,False,2021-12-29 03:00:22 UTC
4,167364097,10000336,SUCCESS,MITRA,2024-06-07 13:41:36.197 UTC,2024-06-07 13:37:58.293 UTC,2024-06-07 13:37:58.685 UTC,INV/TUC/MIT/240607/3630603NCYX,INV/PAY/MIT/240607/QGU1Q4J3LDB,2024-06-07 13:37:58.293 UTC,6752528.0,543000,MITRA,/mitra-service/me/transactions/24317242,mitra,False,2021-12-29 03:00:22 UTC